{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MWM Hands on Test</title>
        <link rel="icon", type="image/png" href="{% static 'styles/images/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/kendo.common.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/kendo.rtl.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/kendo.default.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/kendo.default.mobile.min.css' %}"/>
    </head>
    <body>
        <div style="width: 700px; height: 550px; display: block; margin-left: auto; margin-right: auto; text-align: center">
            <h1 style="padding: 20px;">Employee Data</h1>
            <div id="grid"></div>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jszip.min.js' %}"></script>
        <script src="{% static 'js/kendo.all.min.js' %}"></script>
        <script src="{% static 'js/console.js' %}"></script>
        <script src="{% static 'js/grid.js' %}"></script>
        </script>
    </body>
</html>
